body /deep/ ::selection {
  background: #03a9f4;
}

body /deep/ {
  font-family: "Roboto", sans-serif;
}

core-overlay-layer /deep/ a:link {
  color: #01579B;
  text-decoration: none;
  transition: .25s;
}

core-overlay-layer /deep/ a:visited {
  color: #01579B;
}

core-overlay-layer /deep/ a:hover {
  color: #03a9f4;
}

core-overlay-layer /deep/ a:active {
  color: #01579B;
}

core-overlay-layer /deep/ .heart {
  padding: 5px;
  font-size: 125%;
  cursor: default;
  transition: .25s;
}
core-overlay-layer /deep/ .heart:hover {
  color: #f44336;
}

.b1::shadow #ripple {
  color: #03a9f4;
}

.b2::shadow #ripple {
  color: #f44336;
}

paper-input-decorator /deep/ .focused-underline {
  background-color: #fff;
}

core-overlay-layer /deep/ paper-button {
  color: #03a9f4;
}
