/* Pseudo elements */
/* --------------- */

::-moz-selection {
	background-color: var(--selection);
}

::selection {
	background-color: var(--selection);
}

/* Base styles */
/* ----------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-header);
}

* {
	outline: var(--border-md) solid transparent;

	&:focus-visible {
		outline-color: var(--primary);
	}
}

@view-transition {
	navigation: auto;
}
