/* Themes
   ------
   --bg-1 : Primary background color (low elevation)
   --bg-2 : Secondary background color (medium elevation)
   --fg   : Foreground (text/content) color
   --p    : Primary accent color
	 --e    : Error accent color
   --s-mix: Shadow mix percentage for blending effects
*/

/* Default light theme values */
/* Colors from Tailwind CSS v4 (https://tailwindcss.com/docs/colors) */
:root {
	--l-bg-1: oklch(92.2% 0 0); /* Neutral 200  */
	--l-bg-2: oklch(98.5% 0 0); /* Neutral 50 */
	--l-fg: oklch(14.5% 0 0); /* Neutral 950 */
	--l-p: oklch(45.7% 0.24 277.023); /* Indigo 700 */
	--l-e: oklch(50.5% 0.213 27.518); /* Red 700 */
	--l-s-mix: 30%;
}

/* Auto (dark) theme / Dark theme */
/* Colors from Tailwind CSS v4 (https://tailwindcss.com/docs/colors) */
[data-theme='auto'], [data-theme='dark'] {
	--bg-1: oklch(20.5% 0 0); /* Neutral 900 */
	--bg-2: oklch(26.9% 0 0); /* Neutral 800 */
	--fg: oklch(98.5% 0 0); /* Neutral 50 */
	--p: oklch(70.7% 0.165 254.624); /* Blue 400 */
	--e: oklch(70.4% 0.191 22.216); /* Red 400 */
	--s-mix: 100%;
}

/* Auto (light) theme */
/* Make the default theme light if the user prefers light mode */
@media (prefers-color-scheme: light) {
	[data-theme='auto'] {
		--bg-1: var(--l-bg-1);
		--bg-2: var(--l-bg-2);
		--fg: var(--l-fg);
		--p: var(--l-p);
		--e: var(--l-e);
		--s-mix: var(--l-s-mix);
	}
}

/* Light theme */
[data-theme='light'] {
	--bg-1: var(--l-bg-1);
	--bg-2: var(--l-bg-2);
	--fg: var(--l-fg);
	--p: var(--l-p);
	--e: var(--l-e);
	--s-mix: var(--l-s-mix);
}

/* OG dusk theme */
[data-theme='dusk'] {
	--bg-1: oklch(15% 0.018 270);
	--bg-2: oklch(22% 0.04 330);
	--fg: oklch(90% 0.08 340);
	--p: oklch(0.64 0.21 22.89);
	--e: oklch(60% 0.24 30);
	--s-mix: 100%;
}

/* OG teal theme */
[data-theme='teal'] {
	--bg-1: oklch(52% 0.07 190);
	--bg-2: oklch(58% 0.07 185);
	--fg: oklch(100% 0 0);
	--p: oklch(85% 0.085 30);
	--e: oklch(65% 0.19 25);
	--s-mix: var(--l-s-mix);
}

/* Colors from Tailwind CSS v4 (https://tailwindcss.com/docs/colors) */
[data-theme='amoled'] {
	--bg-1: oklch(0 0 0);
	--bg-2: oklch(0 0 0);
	--fg: oklch(92.2% 0 0); /* Neutral 200 */
	--p: oklch(92.2% 0 0); /* Neutral 200 */
	--e: oklch(70.4% 0.191 22.216);
	--s-mix: 0%;

	textarea, form, nav {
		border: var(--b-md) solid var(--p);
	}
}

/* Colors from OKSolar (https://meat.io/oksolar) (CC0) */
[data-theme='solarizedDark'] {
	--bg-1: oklch(27.4% 0.05 219.6); /* base03 */
	--bg-2: oklch(32.1% 0.053 219.6); /* base02 */
	--fg: oklch(71.8% 0.017 198); /* base0 */
	--p: oklch(63.1% 0.166 50.4); /* orange */
	--e: oklch(63.1% 0.221 21.6); /* red */
	--s-mix: 100%;
}

/* Colors from OKSolar (https://meat.io/oksolar) (CC0) */
[data-theme='solarizedLight'] {
	--bg-1: oklch(93.06% 0.026 92.4); /* base2 */
	--bg-2: oklch(97.35% 0.026 90.1); /* base3 */
	--fg: oklch(54.4% 0.017 219.6); /* base00 */
	--p: oklch(63.1% 0.221 21.6); /* red */
	--e: oklch(63.1% 0.221 21.6); /* red */
	--s-mix: var(--l-s-mix);
}

/* Colors from https://github.com/morhetz/gruvbox (MIT) */
[data-theme='gruvboxDark'] {
	--bg-1: #282828; /* dark0 */
	--bg-2: #3c3836; /* dark1 */
	--fg: #ebdbb2; /* light1 */
	--p: #fe8019; /* bright_orange */
	--e: #fb4934; /* bright_red */
	--s-mix: 100%;
}

/* Colors from https://github.com/morhetz/gruvbox (MIT) */
[data-theme='gruvboxLight'] {
	--bg-1: #ebdbb2; /* light1 */
	--bg-2: #fbf1c7; /* light0 */
	--fg: #3c3836; /* dark1 */
	--p: #af3a03; /* faded_orange */
	--e: #9d0006; /* faded_red */
	--s-mix: var(--l-s-mix);
}

/* Colors from https://catppuccin.com/palette/#flavor-mocha (MIT) */
[data-theme='catppuccinMocha'] {
	--bg-1: #11111b; /* Crust */
	--bg-2: #181825; /* Mantle */
	--fg: #cdd6f4; /* Text */
	--p: #89b4fa; /* Blue */
	--e: #f38ba8; /* Red */
	--s-mix: 100%;
}

/* Colors from https://catppuccin.com/palette/#flavor-latte (MIT) */
[data-theme='catppuccinLatte'] {
	--bg-1: #dce0e8; /* Crust */
	--bg-2: #e6e9ef; /* Mantle */
	--fg: #4c4f69; /* Text */
	--p: #7287fd; /* Lavender */
	--e: #d20f39; /* Red */
	--s-mix: var(--l-s-mix);
}

/* Colors from https://draculatheme.com/spec#color-palette (MIT) */
[data-theme='dracula'] {
	--bg-1: #191A21; /* Background Darker */
	--bg-2: #21222C; /* Background Dark */
	--fg: #F8F8F2; /* Foreground */
	--p: #BD93F9; /* Purple */
	--e: #FF5555; /* Red */
	--s-mix: 100%;
}

/* Colors from https://www.nordtheme.com/docs/colors-and-palettes (MIT) */
[data-theme='nord'] {
	--bg-1: #2e3440; /* nord0 */
	--bg-2: #3b4252; /* nord1 */
	--fg: #eceff4; /* nord6 */
	--p: #88c0d0; /* nord8 */
	--e: #bf616a; /* nord11 */
	--s-mix: 100%;
}
