/* Reusable design tokens */
/* ---------------------- */

:root {
	/* Color mix ratios */
	--mix-sm: 2.5%;
	--mix-md: 10%;
	--mix-lg: 50%;

	/* Opacity */
	--o-md: 0.7;

	/* Padding */
	--p-xs: calc(var(--p-sm) / 2);
	--p-sm: calc(var(--p-md) / 2);
	--p-md: 1.5em;
	--p-lg: calc(var(--p-md) * 2);

	/* Font size */
	--f-md: 1rem;
	--f-lg: calc(var(--f-md) * 1.5);
	--f-xl: calc(var(--f-lg) * 1.25);

	/* Font weight */
	--f-normal: 300;
	--f-bold: calc(var(--f-normal) + 200);
	--f-bolder: calc(var(--f-bold) + 200);

	/* Max width */
	--max-w: 56rem;

	/* Border width */
	--b-md: 0.0625em;

	/* Border radius */
	--r-md: var(--p-sm);

	/* Transition duration */
	--d-md: 0.125s;

	/* Ternary background color (high elevation) */
	--bg-3: color-mix(
		in oklch shorter hue,
		var(--bg-2),
		var(--fg) var(--mix-sm)
	);

	/* Shadow color */
	--s: color-mix(
		in oklch shorter hue,
		oklch(0 0 0 / 0.25) var(--s-mix),
		transparent
	);

	/* Shadows from Tailwind CSS 4 */
	--s-box-md:
		0 1px 3px 0 var(--s), 0 1px 2px -1px var(--s);
	--s-box-lg: 0 20px 25px -5px var(--s), 0 8px 10px -6px var(--s);
	--s-box-inset-md: inset 0 2px 4px var(--s);
	--s-drop-md: drop-shadow(0 1px 0.3px var(--s))
		drop-shadow(0 1px 0.2px var(--s));
}
