/* Utility classes */
/* --------------- */

.enable-transitions {
	* {
		transition-property: background-color, color, outline-color, opacity;
		transition-duration: 0.5s;
	}
}

/* Hide an element but keep it accessible to screen readers */
/* From https://www.tpgi.com/the-anatomy-of-visually-hidden/ */
.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	clip-path: inset(50%);
}
