:root {
	/* Color mix ratios */
	--mix-sm: 2.5%;
	--mix-md: 10%;
	--mix-lg: 50%;

	/* Opacity */
	--opacity-md: 0.7;

	/* Padding */
	--p-xs: calc(var(--p-md) / 4);
	--p-sm: calc(var(--p-md) / 2);
	--p-md: 1.5rem;
	--p-lg: calc(var(--p-md) * 2);

	/* Font size */
	--font-md: 1rem;
	--font-lg: 1.5rem;

	/* Font weight */
	--normal: 300;
	--bold: 500;
	--bolder: 700;

	/* Max width */
	--max-w: 56rem;

	/* Border width */
	--border-md: 1px;

	/* Border radius */
	--radius-md: 0.75rem;

	/* Transition duration */
	--duration-md: 0.125s;
}

body {
	/* Generate additional colors from the provided theme colors */
	--bg-3: color-mix(
		in oklch shorter hue,
		var(--bg-2),
		var(--fg) var(--mix-sm)
	);
	--selection: color-mix(
		in oklch shorter hue,
		var(--primary),
		transparent var(--mix-lg)
	);
	--shadow: color-mix(
		in oklch shorter hue,
		oklch(0 0 0 / 0.25) var(--shadow-mix),
		transparent
	);
	/* Shadows from Tailwind CSS 4 */
	--box-shadow-md:
		0 1px 3px 0 var(--shadow), 0 1px 2px -1px var(--shadow);
	--box-shadow-lg: 0 20px 25px -5px var(--shadow), 0 8px 10px -6px var(--shadow);
	--box-shadow-inset-md: inset 0 2px 4px var(--shadow);
	--drop-shadow-md: drop-shadow(0 1px 0.3px var(--shadow))
		drop-shadow(0 1px 0.2px var(--shadow));
}
