---
import Loader from '@components/app/Loader.astro';
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout>
	<main>
		<Loader />
	</main>
</PageLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
		width: 100%;
		height: 100%;
		view-transition-name: main;
	}
</style>

<script>
	import { getBestMatchingLocale } from '@i18n/index.ts';
	import { getRelativeLocaleUrl } from 'astro:i18n';

	const detectedLocale = getBestMatchingLocale();

	// Forward query params to the destination page
	window.location.href = `${getRelativeLocaleUrl(detectedLocale)}${location.search}`;
</script>
