---
import Loader from '@components/app/Loader.astro';
import { SITE } from '@config/site.ts';
import PageLayout from '@layouts/PageLayout.astro';

// Hardcoded because these strings don't need to be translated (this page is outside of the localized routes)
const msg = {
	title: 'Loading',
	description: `Choose your preferred language to continue to ${SITE.title}.`,
} as const;
---

<PageLayout {...msg}>
	<meta slot="head" name="robots" content="noindex" />
	<main>
		<Loader>
			<h1>{msg.title}...</h1>
		</Loader>
	</main>
</PageLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
		width: 100%;
		height: 100%;
		view-transition-name: main;
	}

	h1 {
		font-size: var(--f-md);
	}
</style>

<script>
	import { getBestMatchingLocale } from '@i18n/index.ts';
	import { getRelativeLocaleUrl } from 'astro:i18n';

	const detectedLocale = getBestMatchingLocale();

	// Forward query params to the destination page
	window.location.href = `${getRelativeLocaleUrl(detectedLocale)}${location.search}`;
</script>
