:root {
	--bg: #151515;
	--primary: #222;
	--focus: #202020;
	--text: #fff;
	--shadow: rgba(0, 0, 0, 0.5);
	--selection: rgba(0, 0, 0, 0.5);

	--hmargin: 1%;
	--vmargin: 4%;
	--roundness: .8rem;
	--textsize: 1rem;
	--numsize: .9em;
	--sidebarwidth: 20em;
	--sidebarpadding: 1.5em;

	--headerFont: 'Roboto Slab Variable', sans-serif;
	--bodyFont: 'Roboto Flex Variable', 'Calibri', 'Trebuchet MS', sans-serif;
	--bodyFontWeight: 300;

	--pulse-scale: 1.1;
}

/* Utility classes */
/* --------------- */

.enable-transitions {
	--transition-duration-base: .125s;
	--transition-duration-long: .5s;
}

.enable-transitions * {
	transition-property: background-color, color;
	transition-duration: var(--transition-duration-long);
}

.pulse {
	animation: pulse var(--transition-duration-base) ease-out;
}

/* Other styles */
/* ------------ */

@media (prefers-color-scheme: dark), (prefers-color-scheme: light),
	(prefers-color-scheme: no-preference) {
	label[for='autotheme'] {
		background: #333;
		background: linear-gradient(135deg, #fff 0%, #151515 100%);
		color: #fff;
	}
}

@keyframes pulse {
	0% {
		transform: scale(var(--pulse-scale));
	}
	100% {
		transform: scale(1);
	}
}

::-moz-selection {
	background: var(--selection);
}

::selection {
	background: var(--selection);
}

textarea::-webkit-scrollbar {
	width: .7em;
}

textarea::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: var(--text);
	box-shadow: .05em .05em .1em rgba(0, 0, 0, 0.5);
}

body {
	margin: 0;
	background: var(--bg);
	color: var(--text);
	font-family: var(--bodyFont);
	font-weight: var(--bodyFontWeight);
}

.container {
	min-height: 100dvh;
}

.container {
	text-align: center;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: default;
	overflow: hidden;
}

h1 {
	font-family: var(--headerFont);
	font-size: 4em;
	text-shadow: .05em .05em .1em var(--shadow);
	margin: 0;
}

h1:after {
	content: 'v2';
	font-size: .25em;
}

p {
	margin: var(--vmargin);
	font-size: var(--textsize);
	text-shadow: .04em .04em .07em var(--shadow);
}

header,
footer {
	display: flex;
	flex-direction: column;
	font-size: var(--textsize);
}

header {
	margin: var(--hmargin);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: var(--hmargin);
	background: var(--primary);
}

footer > * {
	flex: 0.4;
}

footer:first-child {
	text-align: left;
}

.sharelabel {
	margin: 0;
}

.fa-arrow-down {
	display: contents;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex: 0.2;
}

.social > a:link {
	padding: 1em 3%;
}

footer > a:link {
	padding: 1em 1em;
}

a:link {
	color: var(--text);
	text-decoration: none;
	transition: .1s;
}

a:hover {
	opacity: 0.7;
}

a:active {
	opacity: 1;
}

a:visited {
	color: var(--text);
}

svg {
	width: 24px;
	height: 24px;
	fill: var(--text);
}

strong {
	font-weight: inherit;
	border-bottom: 1px solid var(--text);
}

textarea {
	min-height: 15em;
	margin: var(--hmargin) var(--vmargin);
	flex: 1;
	border: none;
	outline: none;
	border-radius: var(--roundness);
	padding: 1.5em;
	background: var(--primary);
	color: var(--text);
	box-shadow: .05em .05em .1em var(--bg) inset;
	font-size: .7em;
	resize: none;
	font-family: var(--bodyFont);
	font-weight: var(--bodyFontWeight);
}

textarea:focus {
	background: var(--focus);
}

.table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: var(--hmargin) var(--vmargin);
	padding: 1.5em;
	gap: .5em;
	background: var(--primary);
	color: var(--text);
	border-radius: var(--roundness);
	box-shadow: .05em .05em .1em var(--bg);
}

.table > div {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: .25em;
}

h5 {
	margin: 0;
	font-size: var(--textsize);
	font-weight: var(--bodyFontWeight);
}

output {
	font-family: var(--headerFont);
	font-size: var(--numsize);
	font-weight: bold;
}

#paragraphs {
	margin-bottom: 1em;
}

#settings {
	position: absolute;
	top: 0;
	right: 0;
}

#settings > svg {
	padding: 1.5em;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

i {
	display: inline-block;
	font-size: 1.5rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: start;
	position: fixed;
	background: var(--primary);
	width: var(--sidebarwidth);
	height: 100%;
	top: 0;
	right: calc(0em - var(--sidebarwidth) - 2 * var(--sidebarpadding));
	padding: var(--sidebarpadding);
	gap: 4em;
	color: var(--text);
	font-size: 1em;
	transition: right .4s;
}

.sidebar > section {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.sidebar p {
	margin: 0;
}

.open {
	right: 0;
	box-shadow: 0 0 10em #000;
}

.freezebody {
	position: fixed;
	overflow-y: scroll;
}

h3 {
	margin: 0;
	text-align: center;
}

input[type='checkbox'],
input[type='radio'] {
	margin: 0 var(--vmargin);
	vertical-align: middle;
}

.padding {
	height: 4%;
}

.badge {
	text-align: center;
}

.themes {
	display: flex;
	justify-content: space-around;
}

.themes > p {
	width: 4em;
	margin: 0;
	text-align: center;
}

label[for='blacktheme'] {
	background: #151515;
	color: #fff;
	border-color: #fff;
}

label[for='whitetheme'] {
	background: #fff;
	color: #000;
	border-color: #000;
}

label[for='tealtheme'] {
	background: #317b71;
	color: #fff;
	border-color: #fff;
}

label[for='dusktheme'] {
	background: #291427;
	background: linear-gradient(135deg, #291427 25%, #080b12 100%);
	color: #fff;
}

.themes > p > label {
	border: 1px solid rgba(255, 255, 255, 0.15);
	display: block;
	padding: 1em 0;
	margin-top: -1em;
	cursor: pointer;
	opacity: 0.5;
	transition: .1s;
}

input[type='radio'] {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.themes > p > label:hover,
input[type='radio']:active ~ label {
	opacity: 1;
}

input[type='radio']:checked ~ label {
	opacity: 1;
	border: 1px solid;
}
