:root {
	/* Default theme */
	--color-base-1: #151515;
	--color-base-2: #222;
	--color-focus: #202020;
	--color-text: #fff;
	--color-shadow: rgba(0, 0, 0, 0.5);
	--color-selection: rgba(0, 0, 0, 0.5);
	--color-primary: #60a5fa;

	--opacity-min: 0;
	--opacity-hover: .7;
	--opacity-max: 1;

	--padding-base: 1.5rem;
	--padding-xs: calc(var(--padding-base) / 4);
	--padding-sm: calc(var(--padding-base) / 2);
	--padding-lg: calc(var(--padding-base) * 2);

	--border-radius-base: .75rem;

	--font-size-base: 1rem;
	--font-size-lg: 1.5rem;
	--font-size-xl: 4rem;

	--font-family-base: 'Roboto Flex Variable', 'Calibri', 'Trebuchet MS',
	sans-serif;
	--font-family-header: 'Roboto Slab Variable', sans-serif;

	--font-weight-base: 300;
	--font-weight-bold: 500;
	--font-weight-bolder: 700;

	--max-width-base: 896px;

	--border-width-base: 1px;

	--pulse-scale: 1.1;

	--box-shadow-base: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

	--text-shadow-base: 0px 1px 0px rgb(0 0 0 / 0.075), 0px 1px 1px rgb(0 0 0 / 0.075), 0px 2px 2px rgb(0 0 0 / 0.075);
	--text-shadow-sm: 0px 1px 1px rgb(0 0 0 / 0.2);
}

/* Utility classes */
/* --------------- */

.enable-transitions {
	--transition-duration-base: .125s;
	--transition-duration-long: .5s;
}

.enable-transitions * {
	transition-property: background-color, color;
	transition-duration: var(--transition-duration-long);
}

.pulse {
	animation: pulse var(--transition-duration-base) ease-out;
}

/* Indent an element to visually align it with text in padded containers */
.indent {
	padding: 0 var(--padding-base);
}

p.alert {
	border-radius: var(--border-radius-base);
	padding: var(--padding-base);
	border-width: var(--border-width-base);
	border-style: solid;
}

p.alert.note {
	border-color: var(--color-primary);
}

p.alert.note::before {
	content: 'ⓘ Note';
	display: block;
	padding-bottom: var(--padding-sm);
	color: var(--color-primary);
	font-weight: var(--font-weight-bold);
}

/* Animations */
/* ---------- */

@keyframes pulse {
	0% {
		transform: scale(var(--pulse-scale));
	}
	100% {
		transform: scale(1);
	}
}

/* Pseudo elements */
/* --------------- */

::-moz-selection {
	background-color: var(--color-selection);
}

::selection {
	background-color: var(--color-selection);
}

textarea::-webkit-scrollbar {
	width: var(--padding-sm);
}

textarea::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius-base);
	background-color: var(--color-text);
	box-shadow: var(--box-shadow-base);
}

textarea::placeholder {
	color: color-mix(
		in oklch shorter hue,
		var(--color-text),
		transparent 50%);
}

/* Base styles */
/* ----------- */

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: var(--padding-base);
	min-height: 100dvh;
	margin: 0;
	background-color: var(--color-base-1);
	color: var(--color-text);
	font-family: var(--font-family-base);
	font-weight: var(--font-weight-base);
	line-height: 1.5;

	/* Generate additional colors from the provided theme colors */
	--color-base-3: color-mix(
		in oklch shorter hue,
		var(--color-base-2),
		var(--color-text) 2.5%
	);
	--color-selection: color-mix(
		in oklch shorter hue,
		var(--color-primary),
		transparent 50%
	);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: var(--padding-lg);
	flex: 1;
	max-width: var(--max-width-base);
	margin: var(--padding-base);
}

main > section {
	display: flex;
	flex-direction: column;
	gap: var(--padding-base);
}

header,
footer {
	display: flex;
	width: 100%;
}

header {
	flex-direction: column;
	align-items: center;
	gap: var(--padding-base);
	width: fit-content;
	margin-top: var(--padding-lg);
	margin-inline: var(--padding-base);
}

footer {
	flex-direction: row;
	justify-content: space-around;
	align-items: start;
	gap: var(--padding-base);
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: var(--padding-lg);
	background-color: var(--color-base-2);
	box-shadow: var(--box-shadow-base);
}

footer > * {
	flex: 1;
	min-width: 18rem;
}

a:link {
	color: var(--color-primary);
	text-decoration: none;
	transition-property: color, opacity;
	transition-duration: var(--transition-duration-base);
}

a:hover {
	opacity: var(--opacity-hover);
}

a:active {
	opacity: var(--opacity-max);
}

a:visited {
	color: var(--color-primary);
}

textarea {
	min-height: 15em;
	flex: 1;
	border: none;
	outline: none;
	border-radius: var(--border-radius-base);
	padding: var(--padding-base);
	background-color: var(--color-base-2);
	color: var(--color-text);
	box-shadow: var(--box-shadow-base);
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	resize: none;
	transition: background-color var(--transition-duration-base);
}

textarea:focus {
	background-color: var(--color-base-3);
}

img {
	max-width: 100%;
	max-height: 100%;
}

.table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: var(--padding-base);
	gap: var(--padding-sm);
	background-color: var(--color-base-2);
	color: var(--color-text);
	border-radius: var(--border-radius-base);
	box-shadow: var(--box-shadow-base);
}

.table > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--padding-xs);
	flex: 1;
}

h1 {
	margin: 0;
	font-family: var(--font-family-header);
	font-size: var(--font-size-xl);
	text-shadow: var(--text-shadow-base);
}

h1:after {
	content: 'v3';
	font-size: var(--font-size-base);
}

h2,
h3 {
	font-family: var(--font-family-header);
}

h4 {
	display: inline;
	margin: 0;
	font-weight: var(--font-weight-bold);
}

label {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
}

p {
	margin: 0;
	text-shadow: var(--text-shadow-sm);
}

ul {
	margin-bottom: 0;
}

output {
	font-family: var(--font-family-header);
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-bold);
}

input[type='checkbox'],
input[type='radio'] {
	vertical-align: middle;
}

.themes {
	display: flex;
	justify-content: space-around;
	width: fit-content;
}

.themes > div {
	text-align: center;
}

.themes > div > label {
	border: var(--border-width-base) solid rgba(255, 255, 255, 0.15);
	display: block;
	padding: var(--padding-base) var(--padding-sm);
	cursor: pointer;
	opacity: var(--opacity-hover);
	transition: opacity var(--transition-duration-base);
}

.themes > div > input[type='radio'] {
	display: block;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	opacity: var(--opacity-min);
}

.themes > div > label:hover,
input[type='radio']:active ~ label {
	opacity: var(--opacity-max);
}

.themes > div > input[type='radio']:checked ~ label {
	opacity: var(--opacity-max);
	border: var(--border-width-base) solid;
}

label[for='blacktheme'] {
	background: #151515;
	color: #fff;
	border-color: #fff;
}

label[for='whitetheme'] {
	background: #fff;
	color: #000;
	border-color: #000;
}

label[for='tealtheme'] {
	background: #317b71;
	color: #fff;
	border-color: #fff;
}

label[for='dusktheme'] {
	background: #291427;
	background: linear-gradient(135deg, #291427 25%, #080b12 100%);
	color: #fff;
}
