:root {
	/* Colors from Tailwind CSS v4 (https://tailwindcss.com/docs/colors) */
	--default-light-color-base-1: oklch(92.2% 0 0); /* Neutral 200  */
	--default-light-color-base-2: oklch(98.5% 0 0); /* Neutral 50 */
	--default-light-color-text: oklch(14.5% 0 0); /* Neutral 950 */
	--default-light-color-shadow: none;
	--default-light-color-primary: oklch(45.7% 0.24 277.023); /* Indigo 700 */
	--default-light-color-mix-ratio-shadow: 25%;

	--color-mix-ratio-sm: 2.5%;
	--color-mix-ratio-base: 50%;

	--opacity-min: 0;
	--opacity-hover: 0.7;
	--opacity-max: 1;

	--padding-base: 1.5rem;
	--padding-xs: calc(var(--padding-base) / 4);
	--padding-sm: calc(var(--padding-base) / 2);
	--padding-lg: calc(var(--padding-base) * 2);

	--border-radius-base: .75rem;

	--font-size-base: 1rem;
	--font-size-lg: 1.5rem;
	--font-size-xl: 4rem;

	--font-family-header: 'Roboto Slab Variable', sans-serif;
	--font-family-base: 'Roboto Flex Variable', 'Calibri', 'Trebuchet MS',
		sans-serif;

	--font-weight-base: 300;
	--font-weight-bold: 500;
	--font-weight-bolder: 700;

	--max-width-page: 56rem;

	--min-height-textarea: 18rem;

	--border-width-base: 1px;

	--pulse-scale: 1.1;
}

/* Themes */
/* ------ */

/* Auto (dark) / Dark theme */
/* Colors from Tailwind CSS v4 (https://tailwindcss.com/docs/colors) */
body,
label[for='auto'],
label[for='dark'] {
	--color-base-1: oklch(20.5% 0 0); /* Neutral 900 */
	--color-base-2: oklch(26.9% 0 0); /* Neutral 800 */
	--color-text: oklch(98.5% 0 0); /* Neutral 50 */
	--color-primary: oklch(70.7% 0.165 254.624); /* Blue 400 */
}

/* Auto (light) theme */
/* Make the default theme light if the user prefers light mode */
@media (prefers-color-scheme: light) {
	body[data-theme='auto'],
	label[for='auto'] {
		--color-base-1: var(--default-light-color-base-1);
		--color-base-2: var(--default-light-color-base-2);
		--color-text: var(--default-light-color-text);
		--color-primary: var(--default-light-color-primary);
		--shadow-strength: var(--default-light-shadow-strength);
	}
}

/* Light theme */
body[data-theme='light'],
label[for='light'] {
	--color-base-1: var(--default-light-color-base-1);
	--color-base-2: var(--default-light-color-base-2);
	--color-text: var(--default-light-color-text);
	--color-primary: var(--default-light-color-primary);
	--shadow-strength: var(--default-light-shadow-strength);
}

/* Colors from Tailwind CSS v4 (https://tailwindcss.com/docs/colors) */
body[data-theme='amoled'],
label[for='amoled'] {
	--color-base-1: oklch(0 0 0);
	--color-base-2: oklch(0 0 0);
	--color-text: oklch(92.2% 0 0); /* Neutral 200 */
	--color-primary: oklch(92.2% 0 0); /* Neutral 200 */
}

body[data-theme='amoled'] textarea {
	border: 1px solid var(--color-primary);
}

/* Colors from OKSolar (https://meat.io/oksolar) */
body[data-theme='solarizedDark'],
label[for='solarizedDark'] {
	--color-base-1: oklch(27.4% 0.05 219.6); /* base03 */
	--color-base-2: oklch(32.1% 0.053 219.6); /* base02 */
	--color-text: oklch(71.8% 0.017 198); /* base0 */
	--color-primary: oklch(63.1% 0.166 50.4); /* orange */
}

/* Colors from OKSolar (https://meat.io/oksolar) */
body[data-theme='solarizedLight'],
label[for='solarizedLight'] {
	--color-base-1: oklch(93.06% 0.026 92.4); /* base2 */
	--color-base-2: oklch(97.35% 0.026 90.1); /* base3 */
	--color-text: oklch(54.4% 0.017 219.6); /* base00 */
	--color-primary: oklch(63.1% 0.221 21.6); /* red */
	--shadow-strength: var(--default-light-color-mix-ratio-shadow);
}

/* Utility classes */
/* --------------- */

.enable-transitions {
	--transition-duration-base: .125s;
	--transition-duration-long: .5s;
}

.enable-transitions * {
	transition-property: background-color, color;
	transition-duration: var(--transition-duration-long);
}

.pulse {
	animation: pulse var(--transition-duration-base) ease-out;
}

/* Indent an element to visually align it with text in padded containers */
.indent {
	padding: 0 var(--padding-base);
}

p.alert {
	border-radius: var(--border-radius-base);
	padding: var(--padding-base);
	border-width: var(--border-width-base);
	border-style: solid;
}

p.alert.note {
	border-color: var(--color-primary);
}

p.alert.note::before {
	content: 'ⓘ Note';
	display: block;
	padding-block-end: var(--padding-sm);
	color: var(--color-primary);
	font-weight: var(--font-weight-bold);
}

/* Animations */
/* ---------- */

@keyframes pulse {
	0% {
		transform: scale(var(--pulse-scale));
	}
	100% {
		transform: scale(1);
	}
}

/* Pseudo elements */
/* --------------- */

::-moz-selection {
	background-color: var(--color-selection);
}

::selection {
	background-color: var(--color-selection);
}

textarea::-webkit-scrollbar {
	width: var(--padding-sm);
}

textarea::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius-base);
	background-color: var(--color-text);
	box-shadow: var(--box-shadow-base);
}

textarea::placeholder {
	color: color-mix(
		in oklch shorter hue,
		var(--color-text),
		transparent var(--color-mix-ratio-base)
	);
}

/* Base styles */
/* ----------- */

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: var(--padding-base);
	min-height: 100dvh;
	margin: 0;
	background-color: var(--color-base-1);
	color: var(--color-text);
	font-family: var(--font-family-base);
	font-weight: var(--font-weight-base);
	line-height: 1.5;

	/* Generate additional colors from the provided theme colors */
	--color-base-3: color-mix(
		in oklch shorter hue,
		var(--color-base-2),
		var(--color-text) var(--color-mix-ratio-sm)
	);
	--color-selection: color-mix(
		in oklch shorter hue,
		var(--color-primary),
		transparent var(--color-mix-ratio-base)
	);
	--color-shadow: color-mix(
		in oklch shorter hue,
		oklch(0 0 0 / 0.2) var(--shadow-strength),
		transparent
	);
	--box-shadow-base: 0 1px 3px 0 var(--color-shadow), 0 1px 2px -1px
		var(--color-shadow);
	--text-shadow-base: 0px 1px 0px var(--color-shadow), 0px 1px 1px
		var(--color-shadow), 0px 2px 2px var(--color-shadow);
	--text-shadow-sm: 0px 1px 1px var(--color-shadow);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: var(--padding-lg);
	flex: 1;
	max-width: var(--max-width-page);
	margin: var(--padding-base);
}

main > section {
	display: flex;
	flex-direction: column;
	gap: var(--padding-base);
}

header,
footer {
	display: flex;
	width: 100%;
}

header {
	flex-direction: column;
	align-items: center;
	gap: var(--padding-base);
	width: fit-content;
	margin-block-start: var(--padding-lg);
	margin-inline: var(--padding-base);
}

footer {
	flex-direction: row;
	justify-content: space-around;
	align-items: start;
	gap: var(--padding-base);
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: var(--padding-lg);
	background-color: var(--color-base-2);
	box-shadow: var(--box-shadow-base);
}

footer > * {
	flex: 1;
	min-width: var(--min-height-textarea);
}

textarea {
	min-height: var(--min-height-textarea);
	max-height: var(--max-width-page);
	border: none;
	outline: none;
	border-radius: var(--border-radius-base);
	padding: var(--padding-base);
	background-color: var(--color-base-2);
	color: var(--color-text);
	box-shadow: var(--box-shadow-base);
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	transition: background-color var(--transition-duration-base);
	resize: block;
}

textarea:focus {
	background-color: var(--color-base-3);
}

img {
	max-width: 100%;
	max-height: 100%;
}

.table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: var(--padding-base);
	gap: var(--padding-sm);
	background-color: var(--color-base-2);
	color: var(--color-text);
	border-radius: var(--border-radius-base);
	box-shadow: var(--box-shadow-base);
}

.table > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--padding-xs);
	flex: 1;
}

h1 {
	margin: 0;
	font-family: var(--font-family-header);
	font-size: var(--font-size-xl);
	text-shadow: var(--text-shadow-base);
}

h1:after {
	content: 'v3';
	font-size: var(--font-size-base);
}

h2,
h3 {
	font-family: var(--font-family-header);
}

h4 {
	display: inline;
	margin: 0;
	font-weight: var(--font-weight-bold);
}

label {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
}

p {
	margin: 0;
	text-shadow: var(--text-shadow-sm);
}

ul {
	margin-block-end: 0;
}

a:link {
	color: var(--color-primary);
	text-decoration: none;
	transition-property: color, opacity;
	transition-duration: var(--transition-duration-base);
}

a:hover {
	opacity: var(--opacity-hover);
}

a:active {
	opacity: var(--opacity-max);
}

a:visited {
	color: var(--color-primary);
}

output {
	font-family: var(--font-family-header);
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-bold);
}

input[type='checkbox'],
input[type='radio'] {
	vertical-align: middle;
}

#theme-container {
	display: grid;
	grid-template-columns: auto auto;
	border-radius: var(--border-radius-base);
	overflow: hidden;
}

#theme-container > div {
	text-align: center;
}

#theme-container > div > label {
	display: block;
	padding: var(--padding-sm);
	background: var(--color-base-1);
	background: linear-gradient(
		90deg,
		var(--color-base-1) 0%,
		var(--color-base-1) 49%,
		var(--color-base-2) 51%,
		var(--color-base-2) 100%
	);
	color: var(--color-text);
	transition-property: background-color, color, opacity;
	transition-duration: var(--transition-duration-base);
	cursor: pointer;
}

#theme-container:hover > div > input[type='radio'] ~ label {
	opacity: var(--opacity-hover);
}

#theme-container:hover > div > input[type='radio']:hover ~ label {
	opacity: var(--opacity-max);
	box-shadow: var(--box-shadow-xl);
}

/* Make Auto theme span two columns */
#theme-container > div:first-child {
	grid-column-start: span 2;
}

#theme-container > div > input[type='radio'] {
	display: block;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	opacity: var(--opacity-min);
}

#theme-container > div > label:hover,
input[type='radio']:active ~ label {
	opacity: var(--opacity-max);
}

#theme-container > div > input[type='radio']:checked ~ label {
	font-weight: var(--font-weight-bolder);
	opacity: var(--opacity-max);
	box-shadow: var(--box-shadow-xl);
}

#theme-container > div > input[type='radio']:checked ~ label::before {
	content: '✓ ';
	font-weight: var(--font-weight-bolder);
}
