---
import { THEME } from '@config/theme.ts';
import { getLocale } from '@i18n/index.ts';
import '../styles/base.css';
import '../styles/themes.css';
import '../styles/utils.css';
import '../styles/vars.css';
import type { WithChildren } from '../types.ts';
import Head from './Head.astro';

/**
 * Props for the base HTML layout wrapper.
 *
 * Allows children content for the main body and head slot.
 */
type Props = WithChildren<true>;

const currentLocaleId = getLocale(Astro);
---

<!doctype html>
<html lang={currentLocaleId} data-theme={THEME.default.id}>
	<Head>
		<slot name="head" />
	</Head>

	<body>
		<slot />
	</body>
</html>

<style>
	body {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: var(--p-md);
		min-height: 100dvh;
		margin: 0;
		background-color: var(--bg-1);
		color: var(--fg);
		font-family: var(--font-base);
		font-weight: var(--normal);
		line-height: 1.5;
	}
</style>
