---
import { THEME } from '@lib/config/theme.ts';
import { getLocale } from '@lib/i18n/index.ts';
import type { WithChildren } from '../types.ts';
import Head from './Head.astro';

/**
 * Props for the base HTML layout wrapper.
 *
 * Allows children content for the main body and head slot.
 */
type Props = WithChildren<true>;

const currentLocaleId = getLocale(Astro);
const vars = {
	key: THEME.id,
	defaultThemeId: THEME.default.id,
};
---

<!doctype html>
<html lang={currentLocaleId}>
	<Head>
		<slot name="head" />
	</Head>

	<body data-theme={THEME.default.id}>
		<slot />
	</body>
</html>

<style is:global>
	@import '../styles/base.css';
	@import '../styles/vars.css';
	@import '../styles/themes.css';
	@import '../styles/utils.css';
</style>

<style>
	body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: var(--padding-base);
		min-height: 100dvh;
		margin: 0;
		background-color: var(--color-base-1);
		color: var(--color-text);
		font-family: var(--font-family-base);
		font-weight: var(--font-weight-base);
		line-height: 1.5;
	}
</style>

<!-- Load the theme from localStorage as soon as possible to prevent FOUC -->
<script is:inline async type="module" define:vars={vars}>
	document.documentElement.dataset[key] =
		localStorage.getItem(key) ?? defaultThemeId;
</script>

<script>
	import { CLASS } from '@lib/config/class.ts';
	import { THEME } from '@lib/config/theme.ts';
	import { $theme } from '@stores/index.ts';

	// Enable transitions after page load
	window.addEventListener('load', () => {
		document.body.classList.add(CLASS.enableTransitions);
	});

	// Add a data attribute to the page body when the theme changes
	$theme.subscribe((value) => {
		document.documentElement.dataset[THEME.id] = value;
	});
</script>
