---
import Footer from '@components/app/Footer.astro';
import Header from '@components/app/Header.astro';
import CounterInput from '@components/app/home/CounterInput.astro';
import CounterOutputs from '@components/app/home/CounterOutputs.astro';
import Nav from '@components/app/home/Nav.astro';
import Article from '@components/ui/Article.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { LOCALE } from '@lib/config/locale.ts';
import { getLocale } from '@lib/i18n';
import { assertDefined } from '@utils/index.ts';
import { getEntry } from 'astro:content';
import type { WithChildren } from '../types.ts';

/**
 * Props for the homepage layout.
 *
 * Explicitly disallows children as the layout structure is predefined.
 */
type Props = WithChildren<false>;

const currentLocaleId = getLocale(Astro);

const alertEntry =
	LOCALE.map[currentLocaleId].wip &&
	assertDefined(await getEntry(currentLocaleId, 'experimental-locale-alert'));
const aboutEntry = assertDefined(await getEntry(currentLocaleId, 'about'));
const moreEntry = assertDefined(await getEntry(currentLocaleId, 'related'));
---

<BaseLayout>
	<Header />
	<main>
		<section>
			<CounterInput />
			<CounterOutputs />
			<Nav />
			{alertEntry && <Article entry={alertEntry} />}
		</section>
		<Article entry={aboutEntry} />
		<Article entry={moreEntry} />
	</main>
	<Footer />
</BaseLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		gap: var(--p-lg);
		flex: 1;
		max-width: var(--max-w);
		margin: var(--p-md);
		view-transition-name: main;

		> article {
			padding: 0 var(--p-md);
		}
	}

	section {
		display: flex;
		flex-direction: column;
		gap: var(--p-md);
		view-transition-name: counter-section;
	}
</style>

<script>
	// Register store effects
	import '@effects/index.ts';
</script>
