---
import { getLocaleStrings } from '@lib/i18n/index.ts';
import { Info } from '@lucide/astro';
import type { HTMLAttributes } from 'astro/types';
import type { WithChildren } from '../../types.ts';

/**
 * Props for an alert/notification blockquote with configurable styling. Used by Markdoc.
 */
type Props = WithChildren<true, HTMLAttributes<'blockquote'>>;

const msg = getLocaleStrings(Astro).alert.note.title;

const props = Astro.props;
---

<blockquote {...props}>
	<h4>
		<Info size={16} aria-hidden="true" />
		{msg}
	</h4>
	<slot />
</blockquote>

<style>
	blockquote {
		margin: 0;
		padding: var(--p-md);
		border-width: var(--border-md);
		border-style: solid;
		border-radius: var(--radius-md);
		border-color: var(--primary);

		&::before {
			display: block;
			padding-block-end: var(--p-sm);
			font-weight: var(--bold);
		}

		h4 {
			display: inline-flex;
			flex-direction: row;
			align-items: center;
			gap: var(--p-xs);
			margin-block-start: 0;
			color: var(--primary);
		}

		p {
			margin: 0;
		}
	}
</style>
