---
import { wKey } from '@utils/index.ts';
import type { ComponentProps } from 'astro/types';
import Form from './Form.astro';

/**
 * Props for a grouped set of related inputs (ex. radio buttons or checkboxes).
 *
 * @property title - The heading text for the input group
 */
interface Props extends ComponentProps<typeof Form> {
	title: Capitalize<string>;
}

const { id, name, title, ...restProps } = Astro.props;

const computedId = id ?? name;
---

<hgroup {...wKey(computedId, 'hgroup')}>
	<h3 {...wKey(computedId, 'h3')}>
		{title}
	</h3>
	<Form
		{...restProps}
		{...wKey(computedId, 'form')}
		id={computedId}
		name={computedId}
	>
		<slot />
	</Form>
</hgroup>
