---
import type { HTMLAttributes } from 'astro/types';
import type { WithChildren } from '../../types.ts';

/**
 * Props for a styled label element with support for checkbox/radio input states.
 */
type Props = WithChildren<true, HTMLAttributes<'label'>>;

const props = Astro.props;
---

<!-- This must be on the same line to prevent whitespace from being inserted -->
<label {...props}><slot /></label>

<style>
	label {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: var(--p-xs);
		flex-basis: calc(50% - 2 * var(--p-sm));
		flex-grow: 1;
		padding: var(--p-sm);
		background: var(--bg-1);
		color: var(--fg);
		text-align: center;
		white-space: nowrap;

		/* Don't change the cursor for `output` elements */
		&:has(> input) {
			cursor: pointer;
		}

		&:has(> input:active) {
			opacity: 1;
		}

		&:has(> input[type='checkbox']:not(:checked)) {
			box-shadow: var(--box-shadow-inset-md);
		}

		&:has(> input[type='checkbox'])::before {
			content: '✗ ';
		}

		/* Applies to both radio and checkbox inputs */
		&:has(> input:checked) {
			font-weight: var(--bolder);
			background: var(--bg-3);
			box-shadow: var(--box-shadow-md);
			opacity: 1;
			box-shadow: var(--box-shadow-md);
			z-index: 1;

			&::before {
				content: '✓ ';
				font-weight: var(--bolder);
			}
		}
	}
</style>
